<form [formGroup]="conditionsForm" (submit)="search()">
  <!--  <div class="form-row">-->
  <!--    <div class="col">-->
  <!--      <div class="input-group mb-2">-->
  <!--        <div class="input-group-prepend">-->
  <!--          <span class="input-group-text">Keyword</span>-->
  <!--        </div>-->
  <!--        <input type="text" formControlName="keyword" class="form-control"-->
  <!--               placeholder="For example: devops AND NOT developer">-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="form-row" formArrayName="conditions" *ngFor="let field of conditions.controls; let i = index">
    <ng-container *ngIf="findFieldConfig(field.get('name').value) as fieldConfig">
      <div class="col" [formGroupName]="i">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">{{findFieldConfig(field.get('name').value).title}}</span>
          </div>
          <input type="text" formControlName="query" class="form-control" [placeholder]="fieldConfig.placeholder">
          <div class="input-group-append">
          <span class="input-group-text" *ngIf="fieldConfig.fieldCurrent">
            <input type="checkbox" class="mt-1 mr-2"
                   [checked]="field.get('queryCurrent').value"
                   id="{{fieldConfig.fieldCurrent}}"
                   (change)="change($event, field.get('queryCurrent'))">
            <label class="form-check-label" for="{{fieldConfig.fieldCurrent}}">
              Current
            </label>
          </span>
          </div>
          <div class="input-group-append">
            <button class="btn btn-danger" type="button" (click)="removeCondition(i)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-md-4">
      <ng-container *ngIf="fieldConfigFiltered() as fields">
        <ng-container *ngIf="fields.length; else noFieldsTpl">
          <div ngbDropdown class="mb-2">
            <button class="btn btn-outline-primary btn-block" type="button" ngbDropdownToggle>Add condition</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button type="button" class="dropdown-item" *ngFor="let fieldConfig of fields"
                      (click)="addField(fieldConfig)">{{fieldConfig.title}}</button>
            </div>
          </div>
        </ng-container>
        <ng-template #noFieldsTpl>
          <button class="btn btn-outline-primary btn-block" disabled type="button">No fields left</button>
        </ng-template>
      </ng-container>
    </div>
    <div class="col-md-4">
      <a href="#" class="btn btn-outline-secondary btn-block mb-2" (click)="create()">Add profile</a>
    </div>
    <div class="col-md-4">
      <button class="btn btn-block btn-outline-primary mb-2">Find</button>
    </div>
  </div>
</form>
