<form [formGroup]="form" class="sidebar-filter">
  <h5>General filters</h5>
  <div class="form-check mb-3">
    <input class="form-check-input mt-2" type="checkbox" id="opened" [checked]="form.get('opened').value"
           (change)="change($event, 'opened')">
    <label class="form-check-label" for="opened">
      Open for opportunities
    </label>
  </div>

  <h5>Experience</h5>
  <div class="form-group mb-3">
    <ng5-slider [options]="experience"
                [value]="form.get('minExperience').value ? form.get('minExperience').value : experience.floor"
                [highValue]="form.get('maxExperience').value ? form.get('maxExperience').value : experience.ceil"
                (valueChange)="valueChange($event, 'minExperience', experience)"
                (highValueChange)="highValueChange($event, 'maxExperience', experience)"></ng5-slider>
  </div>

  <h5>Experience Current Job</h5>
  <div class="form-group mb-3">
    <ng5-slider [options]="currentJob"
                [value]="form.get('minCurrentJob').value ? form.get('minCurrentJob').value : currentJob.floor"
                [highValue]="form.get('maxCurrentJob').value ? form.get('maxCurrentJob').value : currentJob.ceil"
                (valueChange)="valueChange($event, 'minCurrentJob', currentJob)"
                (highValueChange)="highValueChange($event, 'maxCurrentJob', currentJob)"></ng5-slider>
  </div>

  <h5>Age</h5>
  <div class="form-group mb-3">
    <ng5-slider [options]="age" [value]="form.get('minAge').value ? form.get('minAge').value : age.floor"
                [highValue]="form.get('maxAge').value ? form.get('maxAge').value : age.ceil"
                (valueChange)="valueChange($event, 'minAge', age)"
                (highValueChange)="highValueChange($event, 'maxAge', age)"></ng5-slider>
  </div>
</form>
