<div class="modal-header">
  <h4 class="modal-title">{{profile.firstName}} {{profile.lastName}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-4">
      <ng-container *ngIf="profile.picture; else imagePlaceholder">
        <div class="avatar-wrapper"
             [ngStyle]="{'background-image': 'url(' + imageBasePath + profile.picture.filename + ')'}"></div>
      </ng-container>
      <ng-template #imagePlaceholder>
        <div class="avatar-wrapper" [ngStyle]="{'background-image': 'url(https://via.placeholder.com/300)'}"></div>
      </ng-template>
    </div>
    <div class="col-8">
      <h4>{{profile.firstName}} {{profile.lastName}} <ng-container *ngIf="profile.age">({{profile.age}} years)</ng-container><i class="fas fa-pen ml-3" (click)="edit(profile)"></i></h4>
      <div class="text-primary">{{profile.label}}</div>
      <div *ngIf="profile.currentJob">Current: {{profile.currentJob.company}} <ng-container *ngIf="profile.experienceLastJob">({{profile.experienceLastJob}} years)</ng-container></div>
      <div *ngIf="profile.lastEducation">Education: {{profile.lastEducation.school}}</div>
      <div>Experience: {{profile.experience}} years</div>
      <hr>
      <h4>Personal Details</h4>
      <div><span class="text-secondary">Address:</span> {{profile.address}}</div>
      <div><span class="text-secondary">Email:</span> {{profile.email}}</div>
      <h3>
        <a [href]="social.url" target="_blank" class="mr-3" *ngFor="let social of profile.profiles">
          <i class="fab" [ngClass]="'fa-' + social.network"></i>
        </a>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <h4>Summary</h4>
      <div [innerHTML]="profile.summary"></div>
      <hr>
      <h4>Skills</h4>
      <div>
        <span class="badge badge-primary mr-1" *ngFor="let skill of profile.skills">{{skill.name}}</span>
      </div>
      <hr>
      <h4>Experience</h4>
      <ul>
        <li *ngFor="let work of profile.work">
          <div class="text-primary">{{work.company}}</div>
          <div>{{work.position}}</div>
          <div>{{work.summary}}</div>
          <div>{{work.startDate}} - {{work.endDate ? work.endDate : 'Now'}}</div>
        </li>
      </ul>
      <hr>

      <h4>Education</h4>
      <ul>
        <li *ngFor="let education of profile.educations">
          <div class="text-primary">{{education.school}}</div>
          <div>{{education.fieldOfStudy}}</div>
          <div>{{education.degree}}</div>
          <div>{{education.description}}</div>
          <div>{{education.startDate}} - {{education.endDate ? education.endDate : 'Now'}}</div>
        </li>
      </ul>
      <hr>

      <h4>Languages</h4>
      <ul>
        <li *ngFor="let language of profile.languages">
          <div>{{language.language}} - {{language.fluency}}</div>
        </li>
      </ul>
      <hr>

      <h4>References</h4>
      <ul>
        <li *ngFor="let reference of profile.references">
          <div class="text-primary">{{reference.name}}</div>
          <div>{{reference.reference}}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
</div>
