.container-grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 15px;
}

.avatar-wrapper {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  padding-top: 100%;
}

.card-body {
  padding: 15px;
}

.card-title {
  cursor: pointer;
  color: #007bff;

  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}

.fa-facebook {
  color: hsla(222, 47%, 40%, 1);     // #365397
}
.fa-twitter {
  color: hsla(198, 100%, 47%, 1);    // #00a9f1
}
.fa-linkedin {
  color: hsla(203, 100%, 35%, 1);    // #006db3
}
.fa-apple {
  color: hsla(0, 0%, 45%, 1);        // #737373
}
.fa-google {
  color: hsla(217, 89%, 61%, 1);     // #4285f4
}
.fa-google_plus {
  color: hsla(8, 74%, 53%, 1);       // #e0452c
}
.fa-youtube {
  color: hsla(0, 100%, 60%, 1);      // #ff3333
}
.fa-vimeo {
  color: hsla(200, 82%, 61%, 1);     // #48b6ed
}
.fa-pinterest {
  color: hsla(0, 78%, 45%, 1);       // #ce1a19
}
.fa-yelp {
  color: hsla(5, 100%, 38%, 1);      // #c30f00
}
.fa-dribbble {
  color: hsla(338, 82%, 60%, 1);     // #ed4584
}
.fa-amazon {
  color: hsla(36, 100%, 50%, 1);     // #ff9700
}
.fa-ebay {
  color: hsla(219, 89%, 30%, 1);     // #083790
}
.fa-skype {
  color: hsla(198, 100%, 48%, 1);    // #00acf4
}
.fa-instagram {
  color: hsla(208, 46%, 41%, 1);     // #396d9a
}
.fa-dropbox {
  color: hsla(206, 89%, 46%, 1);     // #0d84de
}
.fa-flickr {
  color: hsla(334, 100%, 46%, 1);    // #ea0066
}
.fa-github {
  color: hsla(0, 0%, 18%, 1);        // #2f2f2f
}
.fa-basecamp {
  color: hsla(121, 38%, 58%, 1);     // #6bbd6d
}
.fa-tumblr {
  color: hsla(210, 37%, 30%, 1);     // #304c68
}
.fa-foursquare {
  color: hsla(206, 72%, 45%, 1);     // #207dc5
}
.fa-box {
  color: hsla(204, 83%, 40%, 1); // #1277bc
}

.fa-personal, .fa-company {
  font-family: "Font Awesome 5 Free";
  color: #ccc;

  &:before {
    content: "\f0c1";
    font-weight: 900;
  }
}

.social-block-dropdown {
  .dropdown-toggle::after {
    display: none;
  }
}
