<div
  class="bg-white border-bottom shadow-sm bg-primary main-menu p-3 px-md-4 mb-3 ">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-column flex-md-row align-items-center ">
        <h5 class="my-0 mr-md-auto font-weight-normal">Hire CRM</h5>
        <!--  <nav class="my-2 my-md-0 mr-md-3">-->
        <!--    <a class="p-2" href="#">Positions</a>-->
        <!--    <a class="p-2" href="#">Profiles</a>-->
        <!--  </nav>-->
        <a class="btn btn-outline-light" href="#" (click)="logout($event)">Logout</a>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="form">
  <div class="container">
    <div class="row mb-3">
      <div class="col-12">
        <app-search [conditionsForm]="conditionsForm" (submitForm)="search()"></app-search>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card sidebar-card mb-3">
          <div class="card-body">
            <app-filters [form]="form"></app-filters>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <ng-container *ngFor="let profile of profiles$ | async">
          <div class="row">
            <div class="col">
              <div class="card profile-card mb-3">
                <div class="card-body">
                  <div class="container-grid">
                    <div class="grid-item">
                      <ng-container *ngIf="profile.picture; else imagePlaceholder">
                        <div class="avatar-wrapper"
                             [ngStyle]="{'background-image': 'url(' + imageBasePath + profile.picture.filename + ')'}"></div>
                      </ng-container>
                      <ng-template #imagePlaceholder>
                        <div class="avatar-wrapper"
                             [ngStyle]="{'background-image': 'url(https://via.placeholder.com/300)'}"></div>
                      </ng-template>
                    </div>
                    <div class="grid-item">
                      <h5 class="card-title" (click)="show(profile)">{{profile.firstName}} {{profile.lastName}}</h5>
                      <div class="card-text" [innerHTML]="profile.label"></div>
                      <div>{{profile.address}}</div>
                      <div class="card-text">
                        <small class="text-muted">{{profile.email}}</small>
                      </div>
                      <!--<div style="white-space: nowrap; overflow: hidden">-->
                      <!--<span class="badge badge-primary mr-1" *ngFor="let skill of profile.skills">{{skill.name}}</span>-->
                      <!--</div>-->
                      <h5>
                        <ng-container *ngFor="let social of profile.profiles">
                          <div ngbDropdown class="d-inline-block social-block-dropdown mr-3" autoClose="outside">
                            <i class="fab" [ngClass]="'fa-' + social.network" ngbDropdownToggle></i>
                            <div ngbDropdownMenu class="p-3">
                              <div class="text-nowrap">URL: <a [href]="social.url">{{social.url}}</a></div>
                              <div class="text-nowrap" *ngIf="social.username">Username: {{social.username}}
                                <button type="button" class="btn btn-sm btn-secondary" ngxClipboard
                                        [cbContent]="social.username">Copy to clipboard
                                </button>
                              </div>
                              <div class="text-nowrap" *ngIf="social.network">Website: {{social.network}}</div>
                            </div>
                          </div>
                        </ng-container>
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="total$ | async as total">
          <ngb-pagination
            class="d-flex justify-content-center"
            [page]="this.page.value"
            [pageSize]="10"
            [collectionSize]="total"
            [maxSize]="5"
            [boundaryLinks]="true"
            (pageChange)="pageChange($event)"></ngb-pagination>
        </ng-container>
      </div>
    </div>
  </div>
</form>
