.picture-drag-n-drop {
  border: 3px dashed #ccc;
  width: 100%;
  text-align: center;
  padding: 80px 36px;
  border-radius: 5px;
  height: calc(100% - 50px);
  cursor: pointer;

  .instruction_img {
    width: 100px;
    display: inline-block;
    font-size: 45px;
    color: #ccc;
  }

  &.active {
    border-color: #007bff;
    color: #007bff;

    .instruction_img {
      color: #007bff;
    }
  }
}

.basic-item {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px;
  background: #f6f6f6;

  .fas {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #ccc;
  }
}

.picture-uploaded {
  width: 100%;
  text-align: center;
  padding: 80px 36px;
  border-radius: 5px;
  height: calc(100% - 50px);
  position: relative;
  background-size: cover;
  background-position: center;

  .btn {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
