<form [formGroup]="group" (submit)="profile.id ? update() : create()">
  <div class="modal-header">
    <h4 class="modal-title">Create new profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="col-4">
        <label>Picture</label>
        <ng-container *ngIf="avatar; else: imageDnd">
          <div class="picture-uploaded" [ngStyle]="{'background-image': 'url(' + avatar +')'}">
            <button type="button" class="btn btn-outline-danger" (click)="removeImage()">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </ng-container>
        <ng-template #imageDnd>
          <input type="file" #imageSelect hidden (change)="onFilesChange($event.target.files)">
          <div class="picture-drag-n-drop" (click)="imageSelect.click()">
            <div class="instruction_img">
              <i class="fas fa-cloud-upload-alt"></i>
            </div>
            <div class="title_list">Select a cover image</div>
            <div class="description_list">Drag and drop</div>
          </div>
        </ng-template>
      </div>
      <div class="col-8">
        <div class="form-group">
          <label for="firstName">First Name <span class="badge badge-danger">required</span></label>
          <input class="form-control" id="firstName" placeholder="First Name" formControlName="firstName"
                 [class.is-invalid]="firstName.invalid && (firstName.dirty || firstName.touched)">
          <div class="invalid-feedback" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            First Name should not be blank.
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name <span class="badge badge-danger">required</span></label>
          <input class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName"
                 [class.is-invalid]="lastName.invalid && (lastName.dirty || lastName.touched)">
          <div class="invalid-feedback" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            Last Name should not be blank.
          </div>
        </div>
        <div class="form-group">
          <label for="label">Label</label>
          <input class="form-control" id="label" placeholder="Label" formControlName="label">
        </div>
        <div class="form-group">
          <label for="skype">Skype id</label>
          <input class="form-control" id="skype" placeholder="Skype" formControlName="skype">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" id="email" placeholder="Email" formControlName="email"
                 [class.is-invalid]="email.invalid && (email.dirty || email.touched)">
          <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
            Email is not valid.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="phone">Phone number</label>
          <input class="form-control" id="phone" placeholder="Phone number" formControlName="phone">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="address">Address</label>
          <input class="form-control" id="address" placeholder="Address" formControlName="address">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="summary">Summary</label>
          <textarea class="form-control" id="summary" placeholder="Summary" formControlName="summary"></textarea>
        </div>
      </div>
    </div>
    <!-- Profiles -->
    <h1>Profiles</h1>
    <div class="basic-item mb-3" formArrayName="profiles" *ngFor="let item of profiles.controls; let i = index;">
      <ng-container [formGroupName]="i">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="network">Network <span class="badge badge-danger">required</span></label>
              <input class="form-control" id="network" placeholder="Network" formControlName="network"
                     [class.is-invalid]="item.get('network').invalid && (item.get('network').dirty || item.get('network').touched)">
              <div class="invalid-feedback"
                   *ngIf="item.get('network').invalid && (item.get('network').dirty || item.get('network').touched)">
                Network is required.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" id="username" placeholder="Username" formControlName="username">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="url">Url <span class="badge badge-danger">required</span></label>
              <input class="form-control" id="url" placeholder="Url" formControlName="url"
                     [class.is-invalid]="item.get('url').invalid && (item.get('url').dirty || item.get('url').touched)">
              <div class="invalid-feedback"
                   *ngIf="item.get('url').invalid && (item.get('url').dirty || item.get('url').touched)">
                Url is required.
              </div>
            </div>
          </div>
        </div>
        <i class="fas fa-times" (click)="remove(i, profiles)"></i>
      </ng-container>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-primary" (click)="addProfile()">Add profile</button>
        </div>
      </div>
    </div>
    <!-- Work -->
    <h1>Work</h1>
    <div class="basic-item mb-3" formArrayName="work" *ngFor="let item of work.controls; let i = index;">
      <ng-container [formGroupName]="i">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="company">Company <span class="badge badge-danger">required</span></label>
              <input class="form-control" id="company" placeholder="Company" formControlName="company"
                     [class.is-invalid]="item.get('company').invalid && (item.get('company').dirty || item.get('company').touched)">
              <div class="invalid-feedback"
                   *ngIf="item.get('company').invalid && (item.get('company').dirty || item.get('company').touched)">
                Company is required.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="position">Position <span class="badge badge-danger">required</span></label>
              <input class="form-control" id="position" placeholder="Position" formControlName="position"
                     [class.is-invalid]="item.get('position').invalid && (item.get('position').dirty || item.get('position').touched)">
              <div class="invalid-feedback"
                   *ngIf="item.get('position').invalid && (item.get('position').dirty || item.get('position').touched)">
                Position is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="website">Website</label>
              <input class="form-control" id="website" placeholder="Website" formControlName="website">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="startDate">Start Date</label>
              <input class="form-control" id="startDate" placeholder="Start Date" formControlName="startDate">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="endDate">End Date</label>
              <input class="form-control" id="endDate" placeholder="End Date" formControlName="endDate">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="workSummary">Description</label>
              <textarea id="workSummary" class="form-control" placeholder="Description"
                        formControlName="summary"></textarea>
            </div>
          </div>
        </div>
        <i class="fas fa-times" (click)="remove(i, work)"></i>
      </ng-container>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-primary" (click)="addWork()">Add position</button>
        </div>
      </div>
    </div>
    <!-- Education -->
    <h1>Education</h1>
    <div class="basic-item mb-3" formArrayName="educations" *ngFor="let item of educations.controls; let i = index;">
      <ng-container [formGroupName]="i">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="school">School <span class="badge badge-danger">required</span></label>
              <input id="school" class="form-control" placeholder="School" formControlName="school"
                     [class.is-invalid]="item.get('school').invalid && (item.get('school').dirty || item.get('school').touched)">
              <div class="invalid-feedback"
                   *ngIf="item.get('school').invalid && (item.get('school').dirty || item.get('school').touched)">
                School is required.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="degree">Degree</label>
              <input id="degree" class="form-control" placeholder="Degree" formControlName="degree">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="fieldOfStudy">Field Of Study</label>
              <input id="fieldOfStudy" class="form-control" placeholder="Field Of Study" formControlName="fieldOfStudy">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="educationStartDate">Start Date</label>
              <input id="educationStartDate" class="form-control" placeholder="Start Date" formControlName="startDate">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="educationEndDate">End Date</label>
              <input id="educationEndDate" class="form-control" placeholder="End Date" formControlName="endDate">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="educationDescription">Description</label>
              <textarea id="educationDescription" class="form-control" placeholder="Description"
                        formControlName="description"></textarea>
            </div>
          </div>
        </div>
        <i class="fas fa-times" (click)="remove(i, educations)"></i>
      </ng-container>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-primary" (click)="addEducation()">Add education</button>
        </div>
      </div>
    </div>
    <h1>Skills</h1>
    <div class="basic-item mb-3" formArrayName="skills" *ngFor="let item of skills.controls; let i = index;">
      <ng-container [formGroupName]="i">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="skillName">Name <span class="badge badge-danger">required</span></label>
              <input id="skillName" class="form-control" placeholder="Name" formControlName="name"
                     [class.is-invalid]="item.get('name').invalid && (item.get('name').dirty || item.get('name').touched)">
              <div class="invalid-feedback"
                   *ngIf="item.get('name').invalid && (item.get('name').dirty || item.get('name').touched)">
                Skill name is required.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="skillLevel">Level</label>
              <input id="skillLevel" class="form-control" placeholder="Level" formControlName="level">
            </div>
          </div>
        </div>
        <i class="fas fa-times" (click)="remove(i, skills)"></i>
      </ng-container>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-primary" (click)="addSkill()">Add skill</button>
        </div>
      </div>
    </div>
    <h1>Languages</h1>
    <div class="basic-item mb-3" formArrayName="languages" *ngFor="let item of languages.controls; let i = index;">
      <ng-container [formGroupName]="i">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="language">Language <span class="badge badge-danger">required</span></label>
              <input id="language" class="form-control" placeholder="Language" formControlName="language"
                     [class.is-invalid]="item.get('language').invalid && (item.get('language').dirty || item.get('language').touched)">
              <div class="invalid-feedback"
                   *ngIf="item.get('language').invalid && (item.get('language').dirty || item.get('language').touched)">
                Language name is required.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="languageFluency">Fluency</label>
              <input id="languageFluency" class="form-control" placeholder="Fluency" formControlName="fluency">
            </div>
          </div>
        </div>
        <i class="fas fa-times" (click)="remove(i, languages)"></i>
      </ng-container>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-primary" (click)="addLanguage()">Add language</button>
        </div>
      </div>
    </div>
    <h1>References</h1>
    <div class="basic-item mb-3" formArrayName="references" *ngFor="let item of references.controls; let i = index;">
      <ng-container [formGroupName]="i">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="name">Name <span class="badge badge-danger">required</span></label>
              <input id="name" class="form-control" placeholder="Name" formControlName="name"
                     [class.is-invalid]="item.get('name').invalid && (item.get('name').dirty || item.get('name').touched)">
              <div class="invalid-feedback"
                   *ngIf="item.get('name').invalid && (item.get('name').dirty || item.get('name').touched)">
                Person name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="reference">Reference</label>
              <textarea id="reference" class="form-control" placeholder="Reference"
                        formControlName="reference"></textarea>
            </div>
          </div>
        </div>
        <i class="fas fa-times" (click)="remove(i, references)"></i>
      </ng-container>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <button type="button" class="btn btn-block btn-primary" (click)="addReference()">Add reference</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
    <button type="submit" class="btn btn-danger" [disabled]="!group.valid">Save</button>
  </div>
</form>
