body {
  background: #F5F6F8;
}

.sidebar-card {
  border: none;
  background: #E8EBF2;
}

.profile-card {
  border: none;
}

.bg-primary {
  background-color: #4B73D2 !important;
}

.btn-outline-primary {
  border-color: #4B73D2 !important;
  color: #4B73D2 !important;

  &:hover, &:focus, &:active {
    background-color: #4B73D2 !important;
    color: #fff !important;
    box-shadow: 0 0 0 0.2rem rgba(75, 115, 210, 0.5) !important;
  }
}

.btn-primary {
  background-color: #4B73D2 !important;
  color: #fff !important;

  &:hover, &:focus, &:active {
    background-color: #4B73D2 !important;
    color: #fff !important;
    box-shadow: 0 0 0 0.2rem rgba(75, 115, 210, 0.5) !important;
  }
}

.main-menu {
  color: #fff;
}

.sidebar-filter {
  .ng5-slider .ng5-slider-bar {
    background: rgba(0, 128, 255, 0.52);
    height: 2px;
  }
  .ng5-slider .ng5-slider-selection {
    background: #007bff;
  }

  .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #007bff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
    color: #000;
  }

  .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: #000000 !important;
  }

  .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: rgba(0, 128, 255, 0.52);
    top: -1px;
  }

  .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #007bff;
  }
}
